*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    /* color: rgb(70, 80, 90); */
    /* color: #212121; */
    color: rgb(230, 230, 230);
    /* color: #4682B4; */
}

body{
    height: 100vh;
    width: 100vw;
    /* background-color: rgb(173, 216, 230); */
    background-color: rgb(20, 25, 35);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: start;
    flex-wrap: wrap;
    /* padding: 3rem; */
}

.container{
    height: 40%;
    width: 65%;
    /* background-color: rgb(211, 211, 211); */
    background-color: rgb(40, 50, 65);
    color: rgb(235, 235, 235);
    border: 1.5px solid rgb(70, 130, 180);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 2rem;
    padding: 2rem;
    /* box-shadow: 0 0 8px rgba(0, 0, 0, 0.1); */
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; */
    /* border: 2px solid rgb(100, 149, 237); */
    /* border: 2px solid rgb(119, 136, 153); */
    /* border: 2px solid rgb(70, 130, 180); */
    /* border: 2px solid rgb(245, 245, 245); */
    /* border: 2px solid rgb(255, 160, 122); */
    border-radius: 1.3rem;
}

.inputWindow{
    display: flex;
    justify-content: space-between;
}

#inputBox{
    width: 70%;
    padding: 0.4rem;
    border-radius: 0.3rem;
    color: rgb(81, 80, 80);
    font-weight: 500;
}

.searchBtn{
    width: 24%;
    padding: 0.4rem;
    border-radius: 0.3rem;
    color: rgb(81, 80, 80);
    font-weight: 900;
}


.outputWindow{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 1.2rem;
}

.output{
    display: flex;
    gap: 1rem;

}

table{
    text-align: center;
    width: 100%;
    border: 2px solid black;
    border-spacing: 10px 15px;
}


